<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.tatans.coeus.weibo">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".activity.WeiboApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="${app_label}"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.CommentsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ContactListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentsListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.RemindMeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.VoicesActivity"
            android:label="@string/comments_null"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyHomePageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FavoritesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.ImagesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CommentDetailsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.WeiboMenuDetailsActivity"
            android:screenOrientation="portrait" />

        <!-- 必须注册在微博授权，分享微博时候用到 -->
        <activity
            android:name="com.sina.weibo.sdk.component.WeiboSdkBrowser"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <meta-data
            android:name="WEIBO_APPKEY"
            android:value="4926617" />
        <meta-data
            android:name="WEIBO_CHANNEL"
            android:value="tatans_development" />

    </application>

</manifest>
